@import 'variable';
h1 {
    color: $red-color;
    font-size: 20px;
}

.select-all-option {
    width: 100px !important;
    margin: 0 8px;
}

.form-group {
    width: 50% !important;
    margin: auto;
}

.nav-header {
    background-color: var(--bs-border-color-translucent) !important;
    text-align: center;
}
