<div class="mt-4 d-flex align-items-center justify-content-center flex-column create-courses">
    <div class="title"> <h3>Create Courses</h3></div>
    <div style="width: 1000px;" class="form">
        <form method="POST" action="/course/store">
            <div class="mb-3 form-group align-items-center">
                <label for="name" class="form-label">Name's Course</label>
                <input type="text" class="form-control" name="name" id="name" >
            </div>
            <div class="mb-3 form-group">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" id="price">
            </div>
            <div class="mb-3 form-group d-flex flex-column">
                <label class="form-label" for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description">
            </div>
            <div class="mb-3 form-group ">
                <button type="submit" class="btn btn-primary">Save</button>

            </div>
        </form>
    </div>
    
</div>
