<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}

    <title>Document</title>
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
    
    {{> script}}
    
    
</body>
    
</html>