<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}

    <title>Document</title>
</head>
<body>
    <div class="wapper">
        {{> header}}

        {{{body}}}

        {{> footer}}
    </div>
    
    
    {{> script}}
    
</body>
    
</html>